@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
    background-color: #730845;
    margin-top: 138px;
    font-family: "Inria Serif", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.nav{
    background-color:#090448;
    font-family: "Inria Serif", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #FFFBDE;
    position: absolute; 
    top: 0;
    left: 0;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    height:138px;
    gap:20px;
    font-size:24px;
    justify-content: space-between;
}
.google{
    height:50px;
    width:210px;
    display:flex;
    align-items: center;
    font-weight:500;
    font-size:15px;
    border-radius:10px;
    border:none;
}
.googleicon{
    height:50px;
    width:42px;
    margin-right:10px;
}
.join{
    display:flex;
    align-items: center;
    gap:30px;
}
.share{
    font-size:70px;
}
.love{
    color:red;
}
.what{
    width:30px;
    margin-left:30px;
    position:absolute;
}
.emojis{
    width:513px;
    height:925px;
}
.friends{
    width:555px;
    height:740px;
    position:absolute;
    z-index: -1;
    margin-left:10%;
    margin-top:9%;
}
.title{
    font-size:48px;
}
.position2{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left: 35%;
}
.paragraphPos{
    width: 500px;
    text-align: center;
    font-size: 24px;
}
.position3{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left: 35%;
    margin-top:10%;
}
.white{
    background-color:black;
    color: #FFFBDE;
    width:468px;
    height:166px;
    border-radius:182px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap:10%;
}
.reposition{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    line-height: 0px;
}

@media screen and (min-width: 800px) and (max-width:1199px){
    .nav{
        height:auto;
    }
    .top{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .top h1{
        font-size:24px;
    }
    #boardJoin, #boardCreate{
        width: 400px;
        height: 50px;
}
.board-button{
    height:80px;
}
#boardTopic{
    width: 400px;
    height:200px;
    font-size: 18px;
    text-align:center;
}
.boards h2{
    width:400px;
    font-size: 24px;
}
.logo{
width:70px;
height: 70px;
}
.dark{
    height: 50px;
    width:50px;
}
.logout{
    width:105px;
    height:43px;
    font-size:20px;
}
.boardList{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:20px;
    }
    .user-image{
        width: 48px;
    height: 48px;
    }
}
@media screen and (max-width:799px){
    .nav{
        height: 75px;
    }
    .top{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .top h1{
        font-size:18px;
    }
     .nav p{
        font-size:16px;
    }
    #boardJoin, #boardCreate{
        width: 300px;
        height: 35px;
        display:flex;
        justify-content:center;
        align-items:center;
}
#boardTopic{
    width: 300px;
    height:150px;
    font-size: 16px;
    text-align:center;
}
.board-button{
    height:65px;
}
#boardTopic::placeholder{
    text-align:center;
}
.boards h2{
    width:300px;
    font-size: 20px;
}
.logo{
    width:45px;
    height: 45px;
    }
    .logout{
        width:67px;
        height:28px;
        font-size:12px;
    }
    .nav h2{
        font-size: 12px;
    }
    .mid{
        font-size: 10px;
    }    
    .boardList{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:20px;
    }
    .dark{
        width: 30px;
        height: 30px;
    }
    .user-image{
        width: 48px;
    height: 48px;
    }
    }
